header {
  background-color: aqua;
}

html {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.block {
  display: flex;
}
.block__container {
  margin: 10em auto;
}
.block__wrap {
  color: rgb(69, 74, 77);
  text-align: center;
}